.container {
    margin: 0 34px;
}

#titulo {
    width: fit-content;
    font-family: var(--font-yeseva);
    font-size: min(52px, 10vw);
    margin: auto;
    margin-top: 2vh;
}

.div-img {
    width: min(350px, 80vw);
    margin: auto;
}

.div-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.div-frase p {
    font-family: var(--font-bricolage);
    font-size: 14px;
}

.frase-grafico .div-frase {
    display: none;
}

.div-grafico {
    width: min(390px, 100%);
    height: 420px;
}

.btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    background-color: var(--backgroud-color);
    padding: 30px 0 50px;
    gap: 7px;
}

.btns button {
    width: min(260px, 100%);
    height: 42px;
    font-family: var(--font-poppins);
    color: var(--color-font-background-green);
    font-size: 16px;
    
    border-radius: 3px;
    border: none;
    margin: auto;
    gap: 6px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}

.btn-apagar img,
.btn-refazer img {
    width: 19px;
}

.btn-refazer {
    background-color: #73a373;
}

.btn-apagar {
    background-color: #dd6b66;
}


@media (min-width: 650px) {
    .container {
        margin: 0 104px;
    }
}

@media (min-width: 850px) {
    .container {
        margin: auto;
        width: 560px;
    }
}

@media (min-width: 1240px) {
    .container {
        display: flex;
        justify-content: center;
        gap: 120px;
        padding-top: 10vh;
        
        width: 100%;
        height: 100vh;
        position: relative;
    }
    
    .desktop {
        width: fit-content;
        height: fit-content;
    }
    
    #titulo {
        margin-top: 0;
        font-size: 62px;
        width: 550px;
    }
    
    .desktop .div-frase {
        display: none;
    }
    
    .div-img {
        margin: 0;
        width: 500px;
    }
    
    .div-grafico {
        width: 520px;
        height: 520px;
    }
    
    .frase-grafico .div-frase {
        width: 500px;
        margin-top: 1.5vh;
        display: flex;
    }
    
    .div-frase p {
        font-size: 20px;
    }
    
    .btns {
        padding: 0;
        width: fit-content;
        position: absolute;
        bottom: 5vh;
        right: 5vh;
        flex-direction: row-reverse;
    }
    
    .btns button {
        width: 200px;
    }
}